2010_Laure
2011_Laure
2012_Francoise
2013_Xavi
2014_Laure
2015_Sonia
2016_Sonia
2017_Andre
2018_Emma
LPPI2019
LPPI2020
Dive0
LPPI2018
weighbridge.rds
LPPI2017
.~lock.list for ben.xlsx#
Global_GPS
LPPI2010
LPPI2011
LPPI2012
LPPI2013
LPPI2014
LPPI2015
LPPI2016
Marine_traffic
Marine_traffic_
global_count.rds
lp_isotope.csv
parade_counts.csv
